<h1>Edit your Recipe: <%= @recipe.name %></h1>
<p>
    <%= @recipe.ingredients %>
    <br>
        <form method="post" action="/recipes/<%=@recipe.id%>">
            <input type="hidden" name="_method" value="patch">
            <lable for="name">Name:</lable>
            <input type="text" name="name" value="<%=@recipe.name%>"/>
            <br>
            <lable for="ingredients">Ingredients:</lable>
            <input type="text" name="ingredients" value="<%=@recipe.ingredients%>"/>
            <br>
            <lable for="cook_time">Cook Time:</lable>
            <input type="text" name="cook_time" value="<%=@recipe.cook_time%>"/>
            <br>
            <input type="submit" value="Submit"/>
        </form>
</p>